# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Maven
target/
*.versionsBackup

# Gradle
.gradle/
build/

!kubernetes/
!src/main/kotlin/de/qaware/cloud/nativ/kpad/kubernetes/
kubernetes/*
kubernetes.tar.gz

# OSX
*.DS_Store
